In [12]:
import pandas as pd
from datetime import datetime
vitals={'time_stamp':datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'heart_rate':14,'systolic_pressure':14 ,'diastolic_pressure':14 ,'respiratory_rate':14 ,'body_temperature':285 ,'oxygen_saturation' :45 }

df= pd.read_csv("./vitals_data/vitals2.csv")[1:]
df=df[:41]
added_row = pd.DataFrame(vitals, index=[0])
df = pd.concat([df, added_row],ignore_index=True)
df.to_csv("./vitals_data/vitals2.csv", index=False)
df

,time_stamp,heart_rate,systolic_pressure,diastolic_pressure,respiratory_rate,body_temperature,oxygen_saturation
0,2024-04-12 13:09:27,108,115,73,13,37,98
1,2024-04-12 13:09:27,108,96,62,17,36,97
2,2024-04-12 13:09:27,108,94,69,19,37,99
3,2024-04-12 13:09:27,108,117,61,18,36,97
4,2024-04-12 13:09:27,108,106,70,13,36,99
5,2024-04-12 13:09:27,107,97,66,15,36,98
6,2024-04-12 13:09:27,107,113,70,14,36,99
7,2024-04-12 13:09:27,107,107,71,19,36,99
8,2024-04-12 13:09:27,114,115,63,19,36,97
9,2024-04-12 13:09:27,115,94,71,19,36,97
10,2024-04-12 13:09:27,115,99,77,17,36,97
11,2024-04-12 13:09:27,114,96,69,16,37,98
12,2024-04-12 13:09:27,114,93,61,13,36,99
13,2024-04-12 13:09:27,106,114,69,13,37,96
14,2024-04-12 13:09:27,106,97,76,13,37,96
15,2024-04-12 13:09:27,114,110,71,17,36,99
16,2024-04-12 13:09:27,114,106,61,16,36,99
17,2024-04-12 13:09:27,114,110,67,13,36,96
18,2024-04-12 13:09:27,115,116,63,17,37,98
19,2024-04-12 13:09:27,108,107,79,18,36,96
20,2024-04-12 13:09:27,108,107,71,16,37,98
21,2024-04-12 13:09:27,108,108,63,18,37,96
22,2024-04-12 13:09:28,115,108,68,19,36,99
23,2024-04-12 13:09:28,108,118,76,18,37,97
24,2024-04-12 13:09:28,107,116,75,16,36,96
25,2024-04-12 13:09:28,115,117,67,16,37,98
26,2024-04-12 13:09:28,115,116,66,14,36,99
27,2024-04-12 13:09:28,115,110,63,15,37,96
28,2024-04-12 13:09:28,115,95,64,15,37,98
29,2024-04-12 13:09:28,114,106,70,15,37,96
30,2024-04-12 13:09:28,113,99,63,14,37,96
31,2024-04-12 13:09:28,114,109,65,19,36,99
32,2024-04-12 13:09:29,107,116,72,13,36,98
33,2024-04-12 13:09:29,114,91,66,16,36,96
34,2024-04-12 13:09:29,114,101,61,15,37,96
35,2024-04-12 13:09:29,113,95,73,16,36,97
36,2024-04-12 13:09:29,107,92,64,14,37,98
37,2024-04-12 13:09:29,107,109,68,19,36,98
38,2024-04-12 13:09:29,107,107,65,18,36,96
39,2024-04-12 13:09:29,107,96,79,19,36,96
40,2024-04-12 13:09:29,107,108,78,19,37,97
41,2024-04-22 11:58:30,14,14,14,14,285,45

In [ ]:
df = pd.concat([df, added_row],ignore_index=True)
df.to_csv("./vitals_data/vitals2.csv", index=False)
df

In [2]:
import pandas as pd

df= pd.read_csv("./accelerometer_data/accelerometer2.csv")

df

     AccelerationX  AccelerationY  AccelerationZ
0             0.97          -0.80           2.49
1             0.02           0.06          -0.04
2            -0.03           0.01           0.17
3             0.06           0.13           0.04
4             0.01          -0.07           0.18
..             ...            ...            ...
676          -0.05           0.01          -0.07
677           0.03           0.08           0.03
678          -0.01          -0.01          -0.01
679          -0.09           0.00           0.26
680           0.15           0.16           0.20

[681 rows x 3 columns]

In [9]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import requests
import time
import os
from dotenv import load_dotenv
from datetime import datetime
import json
import keyboard
# Load environment variables from .env
load_dotenv()

# Access your API key
url = 'http://18.205.156.111:8080/fall_signal'


def send_data_to_server(anomalie):
    # Replace 'your-ec2-public-ip' with your EC2 instance's public IP address
    data={'anomaly':anomalie}
    # Send the data as a POST request
    

    json_data = json.dumps(data)
    
    # Send the data as a POST request with Content-Type header set to application/json
    headers = {'Content-Type': 'application/json'}
    response = requests.post(url, data=json_data, headers=headers)
    print(response.status_code)

send_data_to_server(f' Patient 00001: An abnormal oxygen saturation of{45} has been detected (outside the normal range of{(90.0, 120.0)}). Please check the patient health status.')

In [12]:
import pandas as pd

vitals={'time_stamp':'2024-04-12 13:09:29','heart_rate':'99','systolic_pressure':'100' ,'diastolic_pressure':'79' ,'respiratory_rate':'19' ,'body_temperature':'37' ,'oxygen_saturation' :'96' }
df= pd.read_csv("./vitals_data/vitals00001.csv")
if len(df)>=41:
    df = df[1:]
added_row = pd.DataFrame(vitals, index=[0])
df = pd.concat([df, added_row],ignore_index=True)
df.to_csv("./vitals_data/vitals00001.csv", index=False)
print('new vital file created')
df

new vital file created

,time_stamp,heart_rate,systolic_pressure,diastolic_pressure,respiratory_rate,body_temperature,oxygen_saturation
0,2024-04-12 13:09:27,108,115,73,13,37,98
1,2024-04-12 13:09:27,108,96,62,17,36,97
2,2024-04-12 13:09:27,108,94,69,19,37,99
3,2024-04-12 13:09:27,108,117,61,18,36,97
4,2024-04-12 13:09:27,108,106,70,13,36,99
5,2024-04-12 13:09:27,107,97,66,15,36,98
6,2024-04-12 13:09:27,107,113,70,14,36,99
7,2024-04-12 13:09:27,107,107,71,19,36,99
8,2024-04-12 13:09:27,114,115,63,19,36,97
9,2024-04-12 13:09:27,115,94,71,19,36,97
10,2024-04-12 13:09:27,115,99,77,17,36,97
11,2024-04-12 13:09:27,114,96,69,16,37,98
12,2024-04-12 13:09:27,114,93,61,13,36,99
13,2024-04-12 13:09:27,106,114,69,13,37,96
14,2024-04-12 13:09:27,106,97,76,13,37,96
15,2024-04-12 13:09:27,114,110,71,17,36,99
16,2024-04-12 13:09:27,114,106,61,16,36,99
17,2024-04-12 13:09:27,114,110,67,13,36,96
18,2024-04-12 13:09:27,115,116,63,17,37,98
19,2024-04-12 13:09:27,108,107,79,18,36,96
20,2024-04-12 13:09:27,108,107,71,16,37,98
21,2024-04-12 13:09:27,108,108,63,18,37,96
22,2024-04-12 13:09:28,115,108,68,19,36,99
23,2024-04-12 13:09:28,108,118,76,18,37,97
24,2024-04-12 13:09:28,107,116,75,16,36,96
25,2024-04-12 13:09:28,115,117,67,16,37,98
26,2024-04-12 13:09:28,115,116,66,14,36,99
27,2024-04-12 13:09:28,115,110,63,15,37,96
28,2024-04-12 13:09:28,115,95,64,15,37,98
29,2024-04-12 13:09:28,114,106,70,15,37,96
30,2024-04-12 13:09:28,113,99,63,14,37,96
31,2024-04-12 13:09:28,114,109,65,19,36,99
32,2024-04-12 13:09:29,107,116,72,13,36,98
33,2024-04-12 13:09:29,107,100,79,19,37,96
34,2024-04-12 13:09:29,107,100,79,19,37,96
35,2024-04-12 13:09:29,99,100,79,19,37,96
36,2024-04-12 13:09:29,99,100,79,19,37,96
37,2024-04-12 13:09:29,99,100,79,19,37,96
38,2024-04-12 13:09:29,99,100,79,19,37,96
39,2024-04-12 13:09:29,99,100,79,19,37,96
40,2024-04-12 13:09:29,99,100,79,19,37,96

new vital file created